$content-width: 1222px;
$page-width: 1440px;
$background-color: #EDF2EC;
$color-active:  #E06733;
$color-title:  #717171;
$color-title-active:  #499A18;
$color-black: #000000;
$color-tex-describe: #636060;
$size-h3: 20px;
$line-heigh-h3: 20px;

@mixin Inika-font ($font-size: 16px, $font-weight: 400, $color: $color-black) {
    font: {
        family: 'Inika';
        weight: $font-weight;
        size: $font-size;
    }
    color: $color;
  }

  @mixin Inter-bold-font ($font-size: $size-h3, $line-heigh: $line-heigh-h3, $color: $color-title) {
    font: {
        family: 'Inter';
        weight: 700;
        size: $font-size;
    }
    line-height: $line-heigh;
    color: $color;
  }

  @mixin Inter-normal-font ($font-size: 20px, $color: $color-tex-describe, $line-height: 35px) {
    font: {
        family: 'Inter';
        weight: 400;
        size: $font-size;
    }
    line-height: $line-height;
    color: $color;
  }

  @mixin flex-container ($align-items: center) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: $align-items;
  }

  @mixin flex-column ($justify-content: space-between) {
        display: flex;
        flex-direction: column;
        justify-content: $justify-content;
  }

  @mixin h2-main-styles ($color: $color-title-active) {
    font-size: 40px;
    line-height: 52px;
    color: $color;
  }

html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    width: $page-width;
    // max-width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 52px 0 52px 0 ;
    max-width: 1440px;

    &_bckg {
        background-color: $background-color;
    }

    &__container {
        @include flex-container (end);
        max-width: $content-width;
    }

    // .header__navigation

    &__navigation {
        width: 452px;
    }
}
.wrapper {
    max-width: $content-width;
    margin: 0 auto;

}
.logo {
}
.header-logo {
}
.navigation {
    @include flex-container ();

    // .navigation__item

    &__item {
        @include Inika-font ();

    // .navigation__item_color

        &_color {
            color: $color-active;
        }
    }
}
.main {
}
.welcome {
    padding: 62px 0 62px 0;

    &_bckg {
        background-color: $background-color;
    }

    // .welcome__container

    &__container{
       @include flex-container ();
    }

    // .welcome__img

    &__img {
        width: 37%;
    }

    // .welcome__content

    &__content {
       @include flex-column ();
        width: 549px;
        height: 340px;
        padding-top: 1%;
    }

    // .welcome__describe

    &__describe {
        @include Inter-normal-font ();
    }

    // .welcome__btn

    &__btn {
        background-color: transparent;
    }
}
.title {
    @include Inter-bold-font (45px, 50px);

     // .title_color-active

    &_color-active{
    color: $color-title-active;
}
}
.describe {
}
.main-button {
    width: 158px;
    height: 44px;
    border: 2px solid $color-active;
    border-radius: 10px;
    @include Inter-normal-font (16px, $color-black, 20px);
}
.about {

    padding: 93px 0 94px 0;

    // .about__container

    &__container {
       @include flex-container ();
    }

    // .about__content

    &__content {
        @include flex-column ();
        width: 603px;
        height: 350px;
        padding-top: 1%;
    }

    // .about__describe

    &__describe {
        @include Inter-normal-font (20px, $color-tex-describe, 30px);
    }

    // .about__img

    &__img {
        width: 38%;
    }
}
.h2 {

    @include h2-main-styles ();

    &_color{
        color: $color-active;
    }

    // .h2_inika

    &_inika {
        @include Inika-font (40px, 400, $color-title-active);
    }

    &_width {
        width: 306px;
    }

    // .h2_inter

    &_inter {
        @include Inter-normal-font (40px)
    }

    &_inter-bold {
        @include Inter-bold-font (40px, 48px, $color-black);
    }

    // .h2_inika-bold

    &_inika-bold {
        @include Inika-font(40px, 700, $color-title-active);
        width: 304px;
        text-align: end;
        line-height: 67px;
    }
}
.service {
    padding: 42px 0 121px 0;
    &_bckg {
        background-color: $background-color;
    }
    // .service__buttons

    &__buttons {
        width: 559px;
        height: 50px;
        @include flex-container();
    }

    // .service__img

    &__img {
        border-radius: 20px 20px 0px 0px;
    }
}
.service-navigation {
    width: 1007px;
    @include flex-container();
}
.buttons {
    @include Inika-font(20px, 400, $color-active);
    width: 161px;
    height: 50px;
    background-color: transparent;
    border: 1px solid $color-active;
    border-radius: 5px;
}
.button {

    // .button_normal-text

    &_normal-text {
    }

    // .button_bold-text

    &_bold-text {
        @include Inika-font (20px, 700, $color: $color-active)
    }
}
.grid {
    padding-top: 78px;
    @include flex-container();
    flex-wrap: wrap;
    align-content: space-between;
    height: 95.5rem;
}
.grid-item {
    width: 330px;
    height: 450px;
    border-radius: 20px 20px 0px 0px;
}
.item {

    // .item__wrap

    &__wrap {
        border: 1px solid #E3E1D5;
        border-radius: 0px 0px 20px 20px;
        width: 330px;
        padding: 10px 0 21px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    // .item__describe

    &__describe {
        @include Inter-normal-font(16px, $color-title, 47px)
    }
}
.h3 {
    @include Inter-bold-font (20px, 20px, $color-active);

    &_color-black {
        @include Inter-bold-font (20px, 20px, $color-black);
    }
}
.prices {
    padding: 42px 0 111px 0;

    &__container {
        @include flex-container(flex-start);
    }

    // .prices__col-1

    &__col-1 {
        width: 332px;
    }

    // .prices__col-2

    &__col-2 {
        width: 452px;
        height: 405px;
        @include flex-column ();
        align-items: end;
        text-align: end;
    }

    // .prices__button

    &__button {
    }

    // .prices__img

    &__img {
        width: 35%;
    }
}
.accordion {
    width: 332px;
    height: 282.01px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin-top: 56px;

    // .accordion__wrap

    &__wrap {
        width: 250px;
        height: 76%;
        margin: 34px auto;
        @include flex-column();
    }

    // .accordion__input

    &__input {
        width: 250px;
        height: 50px;
        background: $background-color;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
.contacts {
    &_bckg {
        background-color: $background-color;
    }

    &__container {
        display: flex;
        flex-direction: row;
        padding-top: 53px;
    }

    &__select-wrap {
        width: 381px;
        margin: 95px auto 0 auto;
    }
    // .contacts__img

    &__img {
    }
}

.select {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__wrap{
        @include flex-container();
        
    }

    &__dropdown {
        width: 379px;
        border: none;
        background-color: transparent;
    }
}
.footer {

    // .footer__col-1

    &__col-1 {
    }

    // .footer__text

    &__text {
    }

    // .footer__RSS

    &__RSS {
    }
}
.icons {
}









