html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 52px 0 52px 0;
}
.header_bckg {
  background-color: #EDF2EC;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  max-width: 1222px;
}
.header__navigation {
  width: 452px;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}
.wrapper__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation__item {
  font-family: "Inika";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.navigation__item_color {
  color: #E06733;
}

.welcome {
  padding: 62px 0 62px 0;
}
.welcome_bckg {
  background-color: #EDF2EC;
}
.welcome__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.welcome__img {
  width: 37%;
}
.welcome__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 549px;
  height: 340px;
  padding-top: 1%;
}
.welcome__describe {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}
.welcome__btn {
  background-color: transparent;
}

.title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}
.title_color-active {
  color: #499A18;
}

.main-button {
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.about {
  padding: 93px 0 94px 0;
}
.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 603px;
  height: 350px;
  padding-top: 1%;
}
.about__describe {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}
.about__img {
  width: 38%;
}

.h2 {
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.h2_color {
  color: #E06733;
}
.h2_inika {
  font-family: "Inika";
  font-weight: 400;
  font-size: 40px;
  color: #499A18;
}
.h2_width {
  width: 306px;
}
.h2_inter {
  font-family: "Inter";
  font-weight: 400;
  font-size: 40px;
  line-height: 35px;
  color: #636060;
}
.h2_inter-bold {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.h2_inika-bold {
  font-family: "Inika";
  font-weight: 700;
  font-size: 40px;
  color: #499A18;
  width: 304px;
  text-align: end;
  line-height: 67px;
}

.service {
  padding: 42px 0 121px 0;
}
.service_bckg {
  background-color: #EDF2EC;
}
.service__buttons {
  width: 559px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  border-radius: 20px 20px 0px 0px;
}

.service-navigation {
  width: 1007px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  font-family: "Inika";
  font-weight: 400;
  font-size: 20px;
  color: #E06733;
  width: 161px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #E06733;
  border-radius: 5px;
}

.button_bold-text {
  font-family: "Inika";
  font-weight: 700;
  font-size: 20px;
  color: #E06733;
}

.grid {
  padding-top: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  height: 95.5rem;
}

.grid-item {
  width: 330px;
  height: 450px;
  border-radius: 20px 20px 0px 0px;
}

.item__wrap {
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  width: 330px;
  padding: 10px 0 21px 0;
}
.item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__describe {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 47px;
  color: #717171;
}

.h3 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
}
.h3_color-black {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.prices {
  padding: 42px 0 111px 0;
}
.prices__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.prices__col-1 {
  width: 332px;
}
.prices__col-2 {
  width: 452px;
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  text-align: end;
}
.prices__img {
  width: 35%;
}

.accordion {
  width: 332px;
  height: 282.01px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin-top: 56px;
}
.accordion__wrap {
  width: 250px;
  height: 76%;
  margin: 34px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.accordion__input {
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contacts_bckg {
  background-color: #EDF2EC;
}
.contacts__container {
  display: flex;
  flex-direction: row;
  padding-top: 53px;
}
.contacts__select-wrap {
  width: 381px;
  margin: 95px auto 0 auto;
}
.select {
  display: flex;
  justify-content: center;
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.select__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.select__dropdown {
  width: 379px;
  border: none;
  background-color: transparent;
  background-image: url("img/accordion_btn_1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.footer {
  padding: 40px 0;
}
.footer__col-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 182px;
}
.footer__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}
.footer_text-width {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 188px;
}

/*# sourceMappingURL=style.css.map */
