:root {
  --container-width: 1440px;
}

html {
  scroll-behavior: smooth;
  width: 1440px;
}

body {
  width: 1440px;
}

/* ....HEADER.... */

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 1.71%;
  padding-bottom: 1.7%;
  gap: 11%;
  background: url(./images/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg);
  height: 41px;
  z-index: 0;
}

.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2785c;
  opacity: 70%;
  z-index: -1;
}

.logo-container {
  display: flex;
  width: 216px;
  padding-right: 3px;
}

.travel-portal {
  /* width: 180px; */
  height: 31px;
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.nav-container {
  display: flex;
  padding-top: 2%;
  gap: 36px;
}

.header-nav {
  display: inline-block;
  position: relative;

  width: 105px;
  height: 21px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.header-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-nav:hover::after {
  /* filter: drop-shadow(0 0 5px #f3ab62);
    transition: all 0.5s; */
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login {
  width: 43px;
  height: 21px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.btn-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 41px;
  background: #0d606f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
}

button {
  transition: 0.5s ease-out;
}

button:hover {
  filter: drop-shadow(0 0 3px #151513);
  transition: 0.5s ease-out;
}

.btn-log-padding {
  padding-left: 34px;
}

/* ....PREVIEW... */

.preview {
  background: url(../travel/images/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg)
    no-repeat;
  background-position: center -90px;
  width: 1440px;
  padding-bottom: 23.2%;
}

h1 {
  width: 892px;
  padding-left: 8.3%;
  padding-top: 2.2%;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}

.describe-h1 {
  width: 723px;
  height: 24px;
  padding-left: 8.3%;
  padding-top: 2.1%;
  letter-spacing: 0.5px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.start-planning {
  width: 163px;
  height: 32px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.label-search {
  width: 560px;
  height: 22px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f2785c;
  padding-left: 2.8%;
}

.button-preview {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  margin-left: 8.3%;
  margin-top: 3.3%;
}

.button-search {
  padding: 10px 32px;
  gap: 10px;
  width: 228px;
  height: 59px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
}

/* ......SECTION STEPS...... */

h2 {
  width: 611px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #f2785c;
  margin: auto;
  text-align: center;
  /* padding-top: 5.5%; */
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  padding-bottom: 97px;
}

.step-text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}

.steps-container {
  display: flex;
  justify-content: center;
  width: 1440px;
  gap: 163px;
}

.img-steps-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.width-step-container-1 {
  width: 247px;
}

.width-step-container-2 {
  width: 222px;
  padding-left: 66px;
}

.width-step-container-3 {
  width: 317px;
}

/* ....SECTION DESTINATIONS... */

.btn-border-radius {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #f2785c;
  opacity: 50%;
}

.activ-pink-btn {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #f2785c;
} 

.img-destinations {
  width: 800px;
  height: 800px;
  border-radius: 16px;
}

.img-destinarions-container {
  display: flex;
  gap: 60px;
  padding-top: 46px;
}

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 81px;
}

.di {
  position: relative;
}

.btns-destinations {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 24px;
  padding-bottom: 41px;
}

.text-find-more {
  width: 116px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.btn-find-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  width: 228px;
  height: 59px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
}

.read-more {
  text-decoration: underline;
  color: #0d606f;
  font-weight: bold;
}

.sign-img {
  position: absolute;
  width: 108px;
  height: 42px;
  left: calc(50% - 108px / 2 - 331px);
  top: calc(50% - 42px / 2 + 339px);

  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #ffffff;
}

/* ....STORIES.... */

.stories {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.stories-bckg {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 41px;

  background: url(../travel/images/lake-background.jpg) no-repeat;
  width: 1440px;
  z-index: 0;
}

.stories-bckg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 70%;
  z-index: -1;
}

.container-four-stories {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.discribe-stories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.img-stories {
  border-radius: 16px;
}

h3 {
  font-family: "Aleo";
  font-style: normal;
  font-size: 35px;
  line-height: 42px;
  line-height: 100%;
  color: #0d606f;
}

.travel-stories {
  font-family: "Aleo";
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #0d606f;
  width: 760px;
  height: 184px;
}

.btn-see-more {
  display: flex;
  margin-top: 8px;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  width: 228px;
  height: 59px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
}

.see-more {
  width: 116px;
  height: 32px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

/* ...FOOTER... */

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 10px;
  background: url(../travel/images/lake-background.jpg) no-repeat;
  background-position: center -1270px;
}

.discribe-footer {
  width: 260px;
  height: 21px;
  font-family: "Aleo";
  font-style: normal;
  font-size: 16px;
  text-align: center;
  line-height: 21px;
  line-height: 100%;
  color: #ffffff;
  padding-right: 327px;
}

.social-icons {
  display: flex;
  padding-right: 119px;
  gap: 22px;
}

.social-icons-hover{
  transition: 0.5s ease-out;
}

.social-icons-hover:hover {
  filter: drop-shadow(6px 6px 1px #151513);
  transition: 0.5s ease-out;
}
