:root {
  --container-width: 1440px;
}

html {
  scroll-behavior: smooth;
  width: 1440px;
}

/* ....HEADER.... */

.header-container {
  display: flex;
  justify-content: center;
  background-color: #f2785c;
  opacity: 70%;
  padding-top: 1.71%;
  padding-bottom: 1.7%;
  gap: 11%;
}

.logo-container {
  display: flex;
  width: 216px;
}

.travel-portal {
  /* width: 180px; */
  height: 31px;
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.nav-container {
  display: flex;
  padding-top: 2%;
  gap: 42px;
  padding-right: 25px;
}

.header-nav {
  width: 105px;
  height: 21px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.login {
  width: 43px;
  height: 21px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.btn-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 41px;
  background: #0d606f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.btn-log-padding {
  padding-left: 1%;
}

/* ....PREVIEW... */

.preview {
  background: url(../travel/images/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg)
    no-repeat;
  width: 1440px;
  padding-bottom: 17.7%;
}

h1 {
  width: 892px;
  padding-left: 8.3%;
  padding-top: 2.2%;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}

.describe-h1 {
  width: 723px;
  height: 24px;
  padding-left: 8.3%;
  padding-top: 2.1%;
  letter-spacing: 0.5px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.start-planning {
  width: 163px;
  height: 32px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.label-search {
  width: 560px;
  height: 22px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f2785c;
  padding-left: 2.8%;
}

.button-preview {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  margin-left: 8.3%;
  margin-top: 3.3%;
}

.button-search {
  padding: 10px 32px;
  gap: 10px;
  width: 228px;
  height: 59px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
}

/* ......SECTION STEPS...... */

h2 {
  width: 611px;
  height: 53px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #f2785c;
}

.step-text {
  width: 247px;
  height: 24px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}

.steps-container {
  display: flex;
  justify-content: space-around;
}

.img-steps-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 247px;
  height: 154px;
}

.width-step-text {
  width: 317px;
  height: 24px;
}

/* ....SECTION DESTINATIONS... */

.btn-border-radius {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #f2785c;
  opacity: 50%;
}

.img-destinations {
  width: 800px;
  height: 800px;
  border-radius: 16px;
}

.img-destinarions-container {
  display: flex;
  gap: 60px;
}

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.btns-destinations {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* ....STORIES.... */

.stories {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.stories-bckg {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background: url(../travel/images/lake-background.jpg) no-repeat;
  width: 1440px;
  z-index: 0;
}

.stories-bckg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 70%;
  z-index: -1;
}

.container-four-stories {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.discribe-stories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.img-stories {
  border-radius: 16px;
}

h3 {
  font-family: "Aleo";
  font-style: normal;
  font-size: 35px;
  line-height: 42px;
  line-height: 100%;
  color: #0d606f;
}

.travel-stories {
  font-family: "Aleo";
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  line-height: 100%;
  color: #0d606f;
  width: 760px;
  height: 184px;
}

/* ...FOOTER... */

footer {
  display: flex;
  justify-content: space-between;
  background: url(../travel/images/lake-background.jpg) no-repeat;
  background-position: center -1270px;
}

.discribe-footer {
  width: 260px;
  height: 21px;
  font-family: "Aleo";
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  line-height: 100%;
  color: #ffffff;
}

.social-icons {
  display: flex;
}
