:root {
  --container-width: 1440px;
}

@media (max-width: 768px) {
  :root {
    --container-width: 768px;
  }
}

@font-face {
  font-family: "Merriweather";
  src: url("assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Merriweather";
  src: url("assets/fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: black;
}

ul {
  list-style-type: none;
}

.logo {
  transition: all 0.5s ease;
  cursor: pointer;
}

.logo:hover {
  fill: red;
}

@media (max-width: 768px) {
  .logo {
    padding-left: 5.5%;
  }
}
/* -----------------------SECTION HERO--START------------------ */

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  opacity: 100%;
}

@media (max-width: 500px) {
  .flex-foto-portfolio > img {
width: 100%;
  }
}


.header {
  background: url(../portfolio/assets/img/bg.jpg) no-repeat;
  background-position: center 0;
  overflow: hidden;
  width: max-content;
  width: 100%;
  height: 90px;
}

@media (max-width: 768px) {
  .header {
    background: url(../portfolio/assets/img/bg-small.jpg) no-repeat;
    background-position: center 0;
  }
}

.flex-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.4%;
}

@media (max-width: 768px) {
  .flex-header {
    padding-top: 2.8%;
  }
}

.flex-menu {
  display: flex;
  flex-direction: row;
}

.menu-li-slash {
  margin-right: 1.5%;
  margin-left: 2.5%;
}

#header-link-en {
  color: #bdae82;
}

.header-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
}

.menu-li {
  flex-grow: 1;
}

.nav-list {
  width: 38.5%;
}

.hero-container {
  background: url(../portfolio/assets/img/bg.jpg) no-repeat;
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;
  margin: 0 -20px;
  padding-left: 5.7%;
}

@media (max-width: 768px) {
  .hero-container {
    height: 590px;
    background: url(../portfolio/assets/img/bg-small.jpg) no-repeat;
    background-position: center -90px;
    padding-left: 8.2%;
  }
}

.hero-heading {
  left: 0%;
  right: 0%;
  top: 0px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
  /* margin-left: 5.5%; */
  width: 500px;
  height: 120px;
  padding-top: 11.7%;
}

@media (max-width: 768px) {
  .hero-heading {
    width: 165px;
    height: 64px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
    padding-top: 11%;
  }
}
/* slfdsjkflkdsfjldsljfljkdsf */

.about {
  height: 120px;
  width: 470px;
  left: 0%;
  right: 6%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */
  color: #ffffff;
  padding-top: 0.8%;
}

@media (max-width: 768px) {
  .about {
    width: 390px;
    height: 72px;
    left: 60px;
    top: 252px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    padding-top: 2.9%;
  }
}

@media (max-width: 500px) {
  .about {
    width: 300px;
    height: 72px;
    left: 60px;
    top: 252px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    padding-top: 2.9%;
  }
}

button {
  height: 55px;
  width: 220px;
  background: #bdae82;
  border: 0;
  cursor: pointer;
}

.button-hire-me {
  padding-top: 1.8%;
}

@media (max-width: 768px) {
  .button-hire-me {
    padding-top: 8.3%;
  }
}

@media (max-width: 500px) {
  .button-hire-me {
    padding-top: 26%;
  }
}

.button-radius:hover {
  border-radius: 90%;
  transition-delay: 0.5s ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.hire_me {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #000000;
  margin: 73px 8px 72px 7px;
}

/* -----------------------SECTION HERO--END----------------- */

/* -----------------------SECTION SKILLS--START------------------ */

.section-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4.5%;
  gap: 40px;
}

@media (max-width: 768px) {
  .section-skills {
    padding-top: 6.3%;
    gap: 0;
    justify-content: space-around;
    margin-right: 3%;
    margin-left: 2.1%;
  }
}

.flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

@media (max-width: 768px) {
  .flex-item {
    margin: 0;
  }
}

.text-skills {
  width: 280px;
  height: 72px;
  top: 160px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  padding-top: 7%;
}

@media (max-width: 768px) {
  .text-skills {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 17.5%;
  }
}

.title-skills {
  width: 280px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  padding-top: 17%;
}

@media (max-width: 768px) {
  .title-skills {
    padding-top: 10.5%;
  }
}

.line {
  width: 50%;
  margin: auto;
  /* overflow-x: hidden; */
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
  /* text-align: center; */
}

.section-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
  padding-top: 14.2%;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    padding-top: 1%;
  }
}

.header-line {
  background: #000;
  width: fit-content;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
}

@media (max-width: 768px) {
  .header-line {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 5%;
    padding-top: 2.9%;
  }
}

.header-line-portfolio {
  background: #000;
  width: fit-content;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
}
@media (max-width: 768px) {
  .header-line-portfolio {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 0.5%;
  }
}

/* todo think how to change */
main > div {
  background: #000000;
}

/* -----------------------SECTION SKILLS--END------------------ */

/* -----------------------SECTION PORTFOLIO--START------------------ */

.flex-item-seasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding-top: 4.3%;
}

@media (max-width: 768px) {
  .flex-item-seasons {
    padding-top: 6.8%;
    width: 445px;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .flex-item-seasons {
    padding-top: 6.8%;
    width: 300px;
    margin: auto;
  }
}

.button-seasons-text {
  width: 62px;
  height: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #bdae82;
}

.button-seasons {
  border: 2px solid;
  color: #bdae82;
  background-color: black;
  box-sizing: border-box;
}

.button-seasons:hover {
  background-color: #bdae82;
}

.button-seasons:hover span {
  color: #000;
}

.section-title-portfolio {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #bdae82;
  padding-top: 15.8%;
}

@media (max-width: 768px) {
  .section-title-portfolio {
    padding-top: 22.8%;
    font-size: 32px;
  }
}

.flex-foto-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  padding-top: 4.3%;
}

@media (max-width: 768px) {
  .flex-foto-portfolio {
    padding-top: 8.3%;
  }
}

/* @media (max-width: 500px) {
  .flex-foto-portfolio {
    width: calc(100% - 40px);
  }
} */

.section-title-video {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #bdae82;
  padding-top: 14.4%;
}

@media (max-width: 768px) {
  .section-title-video {
    font-size: 32px;
    padding-top: 21.5%;
  }
}

.header-line-video {
  background: #000;
  width: fit-content;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
}
@media (max-width: 768px) {
  .header-line-video {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 0.5%;
  }
}

.flex-video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.2%;
}

@media (max-width: 768px) {
  .flex-video-player {
    padding-top: 6.7%;
    margin: 0 -20px;
  }
}

.video-player-button {
  position: absolute;
}

.video-button {
  background-color: transparent;
  height: 130px;
}

.video {
  height: 100%;
  width: 100%;
}

.section-title-price {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #bdae82;
  padding-top: 14.3%;
}

@media (max-width: 768px) {
  .section-title-price {
    font-size: 32px;
    padding-top: 22%;
  }
}
.header-line-price {
  background: #000;
  width: fit-content;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
}
@media (max-width: 768px) {
  .header-line-price {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 0.5%;
  }
}
/* ////////////////////////////////////////////////////////////////// */

.flex-price {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  padding-top: 4.3%;
  padding-bottom: 7.1%;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .flex-price {
    padding-top: 6.7%;
    gap: 50px;
    padding-bottom: 11%;
  }
}

h3 {
  width: 128px;
  height: 56px;
  left: calc(50% - 128px / 2);
  top: 43px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #ffffff;
}

.flex-item-price {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 505px;
  border: 3px solid;
  color: #bdae82;
  background-color: black;
  box-sizing: border-box;
  margin: auto 0;
  align-items: center;
  padding-top: 3%;
}

@media (max-width: 768px) {
  .flex-item-price {
    width: 420px;
    padding-top: 5.5%;
  }
}

.price {
  height: 48px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #bdae82;
  padding-top: 4.3%;
}

@media (max-width: 768px) {
  .price {
    padding-top: 5.3%;
  }
}

.description-price {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #ffffff;
  padding-top: 4.3%;
}

.line-description {
  display: block;
  height: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #ffffff;
}

.button-order-shooting {
  width: 142px;
  height: 40px;
  left: calc(50% - 142px / 2);
  top: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #000000;
}

.button-price {
  padding-top: 8.9%;
}

@media (max-width: 768px) {
  .button-price {
    padding-top: 9.7%;
  }
}

/* -----------------------SECTION PORTFOLIO--END----------------- */
.contact-container {
  background: url(../portfolio/assets/img/contact.jpg) no-repeat;
  background-position: center 0;
  overflow: hidden;
  width: max-content;
  width: 100%;
  height: 700px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  /* flex-direction: column; */
}
@media (max-width: 768px) {
  .contact-container {
    background: url(../portfolio/assets/img/small-contacts.jpg) no-repeat;
    justify-content: center;
    height: 600px;
  }
}

.flex-item-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  /* identical to box height, or 200% */
  color: #bdae82;
  padding-top: 13.7%;
}

@media (max-width: 768px) {
  .contact-title {
    font-size: 32px;
    line-height: 64px;
    text-align: center;
  }
}

.pading-for-email {
  padding-top: 9%;
}

@media (max-width: 768px) {
  .pading-for-email {
    padding-top: 8.5%;
  }
}

.pading-for-phone {
  padding-top: 4%;
}

@media (max-width: 768px) {
  .pading-for-phone {
    padding-top: 4.5%;
  }
}

.pading-for-message {
  padding-top: 5%;
}

.button-send-message {
  padding-top: 6.4%;
}
@media (max-width: 768px) {
  .button-send-message {
    text-align: center;
  }
}

.send-message {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #000000;
}

input,
textarea {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  color: #bdae82;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  box-sizing: border-box;
  padding-left: 3%;
}

input {
  width: 450px;
  height: 50px;
}

@media (max-width: 500px) {
  input {
    width: 250px;
  }
}

textarea {
  width: 450px;
  height: 100px;
}

@media (max-width: 500px) {
  textarea {
    width: 250px;
  }
}

::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
  padding-left: 1%;
}

.button-contact-style:hover {
  box-shadow: 1px 1px #536415, 2px 2px #bdae81, 3px 3px #bdae82, 4px 4px #bdae82,
    5px 5px #bdae84, 6px 6px #536415, 7px 7px #464d0d;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

/* ///////////////////FOOTER///////////////////////////////// */

footer > div {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  footer > div {
    flex-direction: column;
  }
}

.item-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  padding-top: 3.7%;
}

@media (max-width: 768px) {
  .item-icons {
    padding-top: 2.2%;
  }
}

.item-socials {
  display: flex;
  flex-direction: row;
  gap: 19.8px;
  padding-top: 3.7%;
}

@media (max-width: 768px) {
  .item-socials {
    padding-top: 4.2%;
  }
}

.item-rss {
  font-family: Inter;
  font-size: 20px;
  /* identical to box height, or 250% */
  color: #ffffff;
  padding-left: 18px;
  padding-top: 3.8%;
}

@media (max-width: 768px) {
  .item-rss {
    padding-top: 0.7%;
    padding-left: 0;
  }
}

.padding-footer-icons {
  padding-bottom: 3.6%;
}

@media (max-width: 768px) {
  .padding-footer-icons {
    padding-bottom: 0%;
  }
}

.github {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  /* identical to box height, or 250% */
  color: #ffffff;
}

.github:hover,
.item-rss:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}
