
@font-face {
	font-family: 'Merriweather';
	src: url("assets/fonts/Merriweather/Merriweather-Bold.ttf");
	font-weight: 700;
  }
  @font-face {
	font-family: 'Inter';
	src: url("assets/fonts/Inter/static/Inter-Bold.ttf");
	font-weight: 700;
  }
  @font-face {
	font-family: 'Inter';
	src: url("assets/fonts/Inter/static/Inter-Regular.ttf");
	font-weight: 400;
  }

  html {
	scroll-behavior: smooth; 
  }

.container {
	/* max-width: 1440px; */
	width: 1440px;
	margin: 0;
	padding: 0;
  }

  ul {
	list-style-type: none;
  }

  nav {
	padding: 0 20px;
	line-height: 50px;
  }

  .header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  }

  .header-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;  
	/* padding-top: 20px; */
  }

  .logo {
	margin-left: 20px;
	margin-top: 25px;
  }

  .menu {
	  display: flex;
	  flex-wrap: wrap;
	  margin-right: 18px;
  }

  .menu-li {
	  margin-right: 30px;
  }

  .menu_li_en {
	margin-right: 31px;
  }

  #header_link_en {
	  color: #BDAE82;
  }

  .menu-li_slash {
	margin-right: 9px;
	margin-left: 8px;
  }

  .menu-li:last-child {
	  margin-right: 0;
  }

  h1 {
	position: absolute;
	height: 120px;
	left: 0%;
	right: 0%;
	top: 0px;
	
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 120px;
	color: #FFFFFF;
	margin-left: 80px;
	margin-top: 250px;
  }

  .about {	  
position: absolute;
height: 120px;
left: 0%;
right: 6%;
/* top: 130px; */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
/* or 200% */
color: #FFFFFF;
margin-top: 380px;
margin-left: 80px;
}

button {
	position: absolute;
height: 55px;
width: 220px;
left: 0%;
right: 0%;
top: 0px;
background: #BDAE82;
border-radius: 0px;
margin-top: 525px;
margin-left: 80px;
}

.hire_me {
	/* position: absolute; */
	width: 75px;
	height: 40px;
	left: calc(50% - 75px/2 + 0.5px);
	top: 8px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	/* identical to box height, or 200% */
	text-align: center;
	color: #000000;
	margin: 73px 8px 72px 7px;
}
  .header_link {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 50px;
	color: #FFFFFF;
	text-decoration: none;
  }


  .intro {
	  height: 100vh;
	  background: url(../Portfolio1/assets/img/bg.jpg) no-repeat;
  }
